body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#sobreContainer, #name-form-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#sobre {
    max-width: 70%; /* Reducido para evitar que sea demasiado grande */
    cursor: pointer;
    transition: transform 0.2s;
}

#sobre:hover {
    transform: scale(1.05);
}

#invitacion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Cambiado a center para alinear verticalmente todo el contenido */
}

.section {
    width: 90%;
    max-width: 500px;
    border: 1px solid #ccc;
    margin: 10px 0; /* Reducido el margen para un espaciado más uniforme */
    padding: 15px; /* Ajustado para mantener la proporción */
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

img {
    max-width: 100%; /* Asegura que las imágenes no superen el ancho de sus contenedores */
    height: auto;
}

#rsvp-form, #name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Asegura que el formulario no exceda el ancho de la sección */
}

#name-form input, #name-form button {
    width: 90%; /* Ajusta el ancho al del formulario */
    margin: 5px; /* Uniformidad en el espaciado */
    padding: 10px; /* Mejor toque visual y táctil */
    font-size: 1em; /* Ajustado para mejorar la legibilidad */
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 5px; /* Espaciado reducido para un diseño más compacto */
}

.countdown-box {
    padding: 8px 16px; /* Espaciado interno ajustado */
    font-size: 1.5em; /* Tamaño ajustado para un mejor equilibrio visual */
}

@media (max-width: 768px) {
    .section, #name-form input, #name-form button {
        max-width: 95%; /* Aumenta el ancho en dispositivos pequeños para mejor uso del espacio */
    }
    .countdown-box {
        font-size: 1em; /* Reducido para adaptarse a pantallas más pequeñas */
    }
}
